/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

.body{
    height: 100vh;
    width: 100vh;
    margin: 0;
    color: black;
}

.background-picture{
    height: 140%;
    width: 105%;
    margin: -70px -50px -200px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    object-position: center;
}