/* font-family: 'Roboto', sans-serif;
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/

html {
    font-family: 'Roboto', sans-serif;
    background-image: url('./assets/burger-friends.jpg');
    background-size: cover;
    margin: 0px;
}

body {
    margin: 0px;
}

.top-bar {
    color: black;
    font-size: larger;
    font-weight: bold;
    background-color: #0fb9b1;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-self: flex-start;
    justify-content: space-between;
}

#add-recipe-button {
    display: flex;
    font-weight: lighter;
    border: 1px;
    border-radius: 5px;
    align-items: center;
    padding: 10px 12px 10px;
}

.homepage-boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    margin: 10vh;
}

h1 {
    font-weight: bolder;
    font-size: 28px;
}

sup {
    color: #ee5253;
}

.box1 {
    background-color:rgba(225, 225, 225, .9);
    font-size: large;
    font-weight: bold;
    display: flex;
    height: 40vh;
    width: 55vh;
    align-items: flex-start;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
}

form {
    font-size: large;
    font-weight: lighter;
}

.box2 {
    background-color:rgba(225, 225, 225, .9);
    height: 40vh;
    width: 55vh;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

.popup-text {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

#letsCook {
    background-color: #0fb9b1;
    display: flex;
    justify-content: center;
    border: 1px;
    width: 60%;
    border-radius: 5px;
    align-items: center;
    padding: 10px 12px 10px;
}

.cookpotContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

.cookpot-img {
    height: 20vh;
    width: 20vh;
}

.popup-text {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.prompt {
    font-style: italic;
    display: flex;
    align-content: baseline;
    margin: 0px;
    margin-top: 110px;
}

.suggestion-placeholder {
    font-size: x-large;
    font-style: bolder;
    margin: 1px;
    margin-bottom: 110px;
}

.clearContainer {
    display: flex;
    margin-left: 80%;
}

.clear {
    color:white;
    background-color: #95a5a6;
    border: 1px;
    border-radius: 5px;
    padding: 7px 10px 7px;
    border: 1px;
    border-radius: 5px;
}

.hidden {
    display: none;
}